{% if block.settings.submenu %}
  <div
    class="fixed w-full bg-[#121212] top-[84px] left-0 right-0 py-10 overlay-menu hidden"
    id="{{ block.settings.submenu }}"
  >
    <div class="container xl:max-w-[1280px] mx-auto px-4">
      <div class="flex flex-wrap -mx-4 gap-y-10">
        <ul class="px-4 w-1/2">
          {% for childlink in block.settings.submenu.links %}
            <li class="text-white hover:text-opacity-90 tracking-tighter mb-5 font-bold px-4 ">
              {{ childlink.title | link_to: childlink.url }}
              <ul class="border-t border-white/60 mt-5 pt-5 flex flex-wrap -mx-4">
                {%- for subchildlink in childlink.links -%}
                  <li class="text-white hover:text-opacity-90 tracking-tighter mb-5 font-semibold w-1/2 px-4">
                    {{ subchildlink.title | link_to: subchildlink.url }}
                    <ul class="mt-5">
                      {%- for sub-subchildlink in subchildlink.links -%}
                        <li class="text-white hover:text-opacity-90 tracking-tighter mb-5 font-medium">
                          {{ sub-subchildlink.title | link_to: sub-subchildlink.url }}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endfor -%}
              </ul>
            </li>

            {% comment %}
                {% if childlink.type == 'article_link' %}
                <li class="text-white hover:text-opacity-90 tracking-tighter mb-5 font-bold px-4 {% if link.links.size > 2 %}w-1/3 {% else %} w-1/2 {% endif %}">
                  <img src="{{ childlink.object.image | image_url: width: '200px' }}">
                  <p class="mt-2">
                    {{ childlink.object.title }}
                  </p>
                  <div class="mt-2 font-normal [&>p]:inline">
                    {{ childlink.object.content | slice: 0, 50 }}
                  </div>
                </li>
              {% endif %}
            {% endcomment %}
          {%- endfor -%}
        </ul>
        <div class="w-auto px-4">
          <div class="!grid !grid-cols-3 !grid-rows-2 gap-x-5 gap-y-5">
            {% content_for 'blocks' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "menu_link",
  "settings": [
    {
      "type": "link_list",
      "id": "submenu",
      "label": "Menu Title",
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "article",
      "id": "article",
      "label": "Article"
    }
  ],
  "blocks": [
    {
      "type": "image"
    }
  ],
  "presets": [
    {
      "name": "DropDown Menu",
    }

  ]
}
{% endschema %}
